@font-face {
    font-family: 'AvenirLTStd-Medium';
    src: url("../fonts/avenir/AvenirLTStd-Medium.eot");
    src: url("../fonts/avenir/AvenirLTStd-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/avenir/AvenirLTStd-Medium.woff2") format("woff2"), url("../fonts/avenir/AvenirLTStd-Medium.woff") format("woff"), url("../fonts/avenir/AvenirLTStd-Medium.ttf") format("truetype"), url("../fonts/avenir/AvenirLTStd-Medium.svg#AvenirLTStd-Medium") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UniversLTStd-Light';
    src: url("../fonts/univers/UniversLTStd-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/univers/UniversLTStd-Light.otf") format("opentype"), url("../fonts/univers/UniversLTStd-Light.woff") format("woff"), url("../fonts/univers/UniversLTStd-Light.ttf") format("truetype"), url("../fonts/univers/UniversLTStd-Light.svg#UniversLTStd-Light") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirLTStd-MediumOblique';
    src: url("../fonts/avenirOblique/AvenirLTStd-MediumOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/avenirOblique/AvenirLTStd-MediumOblique.woff") format("woff"), url("../fonts/avenirOblique/AvenirLTStd-MediumOblique.ttf") format("truetype"), url("../fonts/avenirOblique/AvenirLTStd-MediumOblique.svg#AvenirLTStd-MediumOblique") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirLTStd-Heavy';
    src: url("../fonts/avenirHeavy/Avenir-Heavy.eot") format("embedded-opentype"), url("../fonts/avenirHeavy/Avenir-Heavy.woff") format("woff"), url("../fonts/avenirHeavy/Avenir-Heavy.ttf") format("truetype"), url("../fonts/avenirHeavy/Avenir-Heavy.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirLTStd-HeavyOb';
    src: url("../fonts/avenirHeavyOb/Avenir-HeavyOblique.woff2") format("embedded-opentype"), url("../fonts/avenirHeavyOb/Avenir-HeavyOblique.woff") format("woff"), url("../fonts/avenirHeavyOb/Avenir-HeavyOblique.ttf") format("truetype"), url("../fonts/avenirHeavyOb/Avenir-HeavyOblique.svg") format("svg");
    font-weight: normal;
    font-style: nor-HeavyOblique;
}